body{
    background-color: #d4e1ef;
    font-family: Arial, Helvetica, sans-serif;
}
.atm-card{
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
}
.atm-title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: darkgreen;
}

.atm-btn{
    width: 100%;
    margin-top: 10px;
}